.file-tree {
  padding: $small-spacing;
  margin: $small-spacing-with-extra 0;
  font-family: $code-font-family;
  font-size: 0.85em;
  letter-spacing: -0.5px;
  border: 1px dashed color("dark-gray");
  border-radius: 5px;

  &, ul {
    list-style: none;
  }

  &, ul, li {
    margin-left: 0;
  }

  ul {
    margin-left: 1.4em;
  }

  ul:last-child {
    margin-bottom: 0;
  }

  > li {
    display: inline-block;
  }

  li:last-child {
    margin-bottom: 0;
  }

  &::before,
  .directory::before,
  .file::before {
    font-family: Icomoon;
    vertical-align: middle;
    display: inline-block;
    margin-right: 0.45em;
    -webkit-font-smoothing: antialiased;
  }

  &::before {
    content: "\f078";
    vertical-align: top;
    color: color("medium-gray");
  }

  .directory::before,
  .directory span {
    color: color("blue");
  }

  .directory::before {
    content: "\e904";
  }

  .file::before {
    content: "\e900";
    margin-left: 0.2em;
    margin-right: 0.6em;
  }
}
