.posts .post {
  margin-bottom: $small-spacing;

  h2 {
    font-size: 1.25em;

    @media (min-width: $larger-screen) {
      font-size: 1.3em;
    }
  }

  p {
    font-size: 0.95em;

    @media (min-width: $larger-screen) {
      font-size: 1em;
    }
  }
}
