.posts .post {
  margin-bottom: $small-spacing;

  &.draft,
  &.hidden {
    opacity: 0.5;
    transition: opacity 150ms linear;
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(45deg);
    }

    &:hover {
      opacity: 1;
    }
  }

  &.draft {
    &::before {
      @include draft-post-ribbon;

      content: "draft";
    }
  }

  &.hidden {
    &::before {
      @include hidden-post-ribbon;

      content: "hidden";
    }
  }

  h2 {
    font-size: 1.25em;

    @media (min-width: $larger-screen) {
      font-size: 1.3em;
    }
  }

  p {
    font-size: 0.95em;

    @media (min-width: $larger-screen) {
      font-size: 1em;
    }
  }
}
