.pseudocode {
  background-color: $light-blue;
  font-size: 0.9em;
  padding: $small-spacing;
  margin: $small-spacing-with-extra 0;

  &, ul {
    list-style: none;
  }

  ul {
    margin-left: $small-spacing;
    margin-top: 0;
    margin-bottom: 0;
  }

  li {
    margin-bottom: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }
}
