svg {
  .cell text,
  .cell-text,
  .small-text,
  .centered-text {
    text-anchor: middle;
    dominant-baseline: central;
  }

  .vertically-centered-text {
    dominant-baseline: central;
  }

  .cell text, .cell-text {
    font-size: 23px;
  }

  .small-text {
    font-size: 15px;
  }

  .paragraph-text {
    dominant-baseline: alphabetic;
    text-anchor: start;
    fill: color("dark-gray");
  }

  .monospace-text {
    font-family: $code-font-family;
    font-size: 0.9em;
  }

  .black-stroke {
    stroke: color("black");
  }

  .white-stroke {
    stroke: color("white");
  }

  .red-stroke {
    stroke: color("red");
  }

  .dashed {
    stroke-dasharray: 2px;
  }

  .white-fill {
    fill: color("white");
  }

  .black-fill {
    fill: color("black");
  }

  .grey-fill {
    fill: color("medium-light-gray");
  }

  .dark-grey-fill {
    fill: color("medium-gray");
  }

  .red-fill {
    fill: color("red");
  }

  .blue-fill {
    fill: color("blue");
  }

  .pink-fill {
    fill: color("light-reddish-gray");
  }

  .medium-text {
    font-weight: 400;
  }

  use {
    fill: inherit;
    stroke: inherit;
  }
}
