.swatches {
  overflow: hidden;
}

.swatch {
  float: left;
  line-height: 50px;
  margin-bottom: $small-spacing;
  margin-right: $small-spacing;
  min-width: 50px;
  padding: 0 $small-spacing;
  text-align: center;
}

@each $name, $color in get-colors() {
  .#{$name}-swatch {
    background-color: $color;

    @if (relative-luminance-of($color) >= 0.5) {
      color: color("black");
      border: 1px solid $base-border-color;
    } @else {
      color: color("white");
      border: 1px solid transparent;
    }
  }
}
