.token.keyword {
  color: #3871e2;
  font-style: italic;
}

.token.tag .token.tag {
  color: #3871e2;
}

.token.string,
.token.char,
.token.selector,
.token.attr-value {
  color: #549c0a;
}

.token.function,
.token.attr-name {
  color: #a465da;
}
