.token.keyword,
.token.tag .token.tag,
.token.selector {
  color: #3871e2;  // blue
}

.token.string,
.token.char,
.token.attr-value {
  color: #549c0a;  // green
}

.token.function,
.token.attr-name {
  color: #a465da;  // purple
}

.token.punctuation {
  color: #b7bfc1;
}

.token.keyword {
  font-style: italic;
}
