= wrap_layout :blog do
  - if current_article
    - content_for :description, current_article.data.teaser, flush: true
  .post
    %header
      %h2.post-title
        %span
        - if current_article
          = current_article.title
        - else
          = current_page.data.title
        - if current_article && !current_article.published?
          %span.draft draft
    ~ yield
