= wrap_layout :layout do
  - content_for :default_title, 'Blog'
  - content_for :head do
    = feed_tag :atom,
      "#{blog.options.prefix.to_s}/feed.xml",
      title: "Elliot Winkler (Feed)"
  - if !content_for?(:description)
    - content_for :description, 'A tech blog.'
  - content_for :bottom_of_container do
    %footer.site-footer
      © #{Date.today.year} Elliot Winkler.
      Powered by <a href="http://middlemanapp.com" target="_blank">Middleman</a>
      and hosted on S3. Code available on
      <a href="http://github.com/mcmire/mcmire.me" target="_blank">GitHub</a>.
  - content_for :javascript do
    .modal-overlay(data-role="modal-overlay")
    .modal-window(data-role="modal-window")
      %a.modal-close(href="#" data-role="modal-close") Close
      .modal-content(data-role="modal-content")
  ~ yield
