= wrap_layout :skeleton do
  - content_for :head do
    %link{ rel: "icon", type: "image/gif", href: image_path("favicon.gif") }
  - content_for :header do
    %h1
      %a(href="/") Elliot Winkler
    %nav
      %ul
        %li
          %a(href="/blog") Blog
        %li
          %a(href="http://github.com/mcmire" target="_blank") Code
        %li
          %a(href="http://twitter.com/mcmire" target="_blank") Tweets
  ~ yield
