@mixin overlay-button {
  @include heading-font($weight: bold)

  color: $overlay-button-color;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transition: opacity $base-duration;
}
