@import "../prism-solarized";
@import "../prism-overrides";

pre,
pre[class*="language-"],
code,
code[class*="language-"] {
  font-family: $code-font-family;
}

pre[class*="language-"],
code[class*="language-"] {
  line-height: inherit;
}

code,
code[class*="language-"] {
  font-size: 0.85em;
  letter-spacing: -0.5px;
}

:not(pre) > code,
:not(pre) > code[class*="language-"] {
  border-radius: $base-border-radius;
}

pre,
pre[class*="language-"] {
  @include form-fitting-shadow(
    $x-offset: 0px,
    $y-offset: 5px,
    $blur: 2px,
    $color: rgba(0, 0, 0, 0.1)
  );

  background-color: color("code-almost-white");
  border: 1px solid adjust-hsluv-color(color("code-almost-white"), $lightness: -8%);
  border-radius: 0;
  hyphens: none;
  margin: $small-spacing-with-extra 0;
  padding: 0;
  position: relative;
  tab-size: 2;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;

  &:not([data-no-overflow]) {
    max-height: 30em;
    overflow: hidden;
  }

  &[data-no-overflow] {
    overflow: auto;
  }

  &.overflows:not(.expanded) {
    cursor: pointer;

    &:hover {
      .view-in-full {
        opacity: 1;
      }

      &.overflows-vertically {
        .overlay {
          background-image: linear-gradient(to top, white 1%, rgba(0, 0, 0, 0.03) 30%);
        }
      }

      &.overflows-horizontally {
        .overlay {
          background-image: linear-gradient(to left, white 1%, rgba(0, 0, 0, 0.03) 30%);
        }
      }

      &.overflows-vertically.overflows-horizontally {
        .overlay {
          background-image:
            linear-gradient(to top, white 1%, rgba(0, 0, 0, 0.03) 30%),
            linear-gradient(to left, white 1%, rgba(0, 0, 0, 0.03) 30%);
        }
      }

      & > code {
        opacity: 0.8;
      }
    }

    &.overflows-vertically {
      .overlay {
        background-image: linear-gradient(to top, white 1%, transparent 30%);
      }
    }

    &.overflows-horizontally {
      .overlay {
        background-image: linear-gradient(to left, white 1%, transparent 30%);
      }
    }

    &.overflows-vertically.overflows-horizontally {
      .overlay {
        background-image:
          linear-gradient(to top, white 1%, transparent 30%),
          linear-gradient(to left, white 1%, transparent 30%);
      }
    }

    .horizontal-overflow-indicator {
      background: url("~horizontal-overflow-pattern.svg") repeat-y 3px 3px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 7px;
      z-index: $pre-overflow-indicator-z-index;
    }

    .vertical-overflow-indicator {
      background: url("~vertical-overflow-pattern.svg") repeat-x 3px 3px;
      bottom: 0;
      height: 7px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: $pre-overflow-indicator-z-index;
    }

    .overlay {
      background: transparent;
      height: 100%;
      left: 0;
      opacity: 1;
      position: absolute;
      transition: background $base-duration;
      top: 0;
      width: 100%;
      z-index: $pre-overlay-z-index;
    }

    .view-in-full {
      @include overlay-button($background-color: rgba(255, 255, 255, 0.9));

      font-size: 0.9em;
      opacity: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 1em;
      z-index: $pre-view-in-full-z-index;

      @media (min-width: $larger-screen) {
        left: auto;
        transform: none;
        right: 1em;
      }

      @media (min-width: $laptop) {
        opacity: 0;
      }
    }
  }

  &.overflows.expanded {
    .view-in-full {
      display: none;
    }
  }

  > code {
    display: block;
    padding: $small-spacing;
  }
}
