@import "prism-overrides";

pre,
pre[class*="language-"],
code,
code[class*="language-"] {
  font-family: $code-font-family;
}

code,
code[class*="language-"] {
  font-size: 0.85em;
  letter-spacing: -0.5px;
}

:not(pre) > code,
:not(pre) > code[class*="language-"] {
  border-radius: $base-border-radius;
}

pre,
pre[class*="language-"] {
  @include form-fitting-shadow(
    $x-offset: 0px,
    $y-offset: 5px,
    $blur: 2px,
    $color: rgba(0, 0, 0, 0.1)
  );

  //background-color: $lightest-gray;
  background-color: hsla(220, 20%, 96%, 1);
  //box-shadow: -2px -2px 1px inset #dfe1e6;
  border-radius: 0;
  hyphens: none;
  margin: $small-spacing-with-extra 0;
  padding: $small-spacing;
  position: relative;
  tab-size: 2;
  white-space: pre;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;

  &:not([data-no-overflow]) {
    max-height: 30em;
    overflow: hidden;
  }

  &[data-no-overflow] {
    overflow: auto;
  }

  &:not(.expanded) {
    border-bottom: 1px solid hsla(0, 0%, 85%, 1);
  }

  &.overflows:not(.expanded) {
    cursor: pointer;

    &:hover {
      .view-in-full {
        opacity: 1;
      }
    }

    .horizontal-overflow-indicator {
      background: url("~horizontal-overflow-pattern.svg") repeat-y 3px 3px;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 7px;
      z-index: $pre-overflow-indicator-z-index;
    }

    .vertical-overflow-indicator {
      background: url("~vertical-overflow-pattern.svg") repeat-x 3px 3px;
      bottom: 0;
      height: 7px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: $pre-overflow-indicator-z-index;
    }

    .overlay {
      background: radial-gradient(transparent 50%, black);
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      transition: opacity $base-duration;
      top: 0;
      width: 100%;
      z-index: $pre-overlay-z-index;
    }

    .view-in-full {
      @include overlay-button;

      background: rgba(255, 255, 255, 0.9);
      border: $base-border;
      box-shadow: $base-box-shadow;
      font-size: 0.9em;
      opacity: 1;
      padding: 0.5em 0.8em;
      left: 50%;
      transform: translateX(-50%);
      top: 1em;
      z-index: $pre-view-in-full-z-index;

      @media (min-width: $larger-screen) {
        left: auto;
        transform: none;
        right: 1em;
      }

      @media (min-width: $laptop) {
        opacity: 0;
      }
    }
  }

  &.overflows.expanded {
    .view-in-full {
      display: none;
    }
  }

  > code {
    display: block;
  }
}
