ul,
ol {
  margin-left: $base-spacing;
  margin-bottom: $small-spacing;
  padding: 0;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

li {
  margin-bottom: $quarter-spacing;

  ul,
  ol {
    margin-top: $quarter-spacing;
  }
}
