html,
body {
  font-size: $base-font-size;

  @media (min-width: $larger-screen) {
    font-size: $larger-font-size;
  }
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  padding-left: 10px;
  padding-right: 10px;
}
