svg {
  width: 100%;

  rect,
  path,
  ellipse {
    fill: inherit;
    stroke: inherit;
  }

  ellipse {
    fill: none;
  }

  text {
    @include base-font;

    font-size: inherit;
    text-anchor: inherit;
    alignment-baseline: inherit;
    dominant-baseline: inherit;
  }

  line {
    vector-effect: non-scaling-stroke;
  }
}
