table {
  border-collapse: collapse;
  font-size: 0.9em;
  margin-bottom: $small-spacing;
  table-layout: fixed;
  width: 100%;
}

th {
  @include base-font($weight: 600);

  border-bottom: 1px solid shade($base-border-color, 25%);
  padding: 0 $quarter-spacing $quarter-spacing;
  text-align: left;
}

td {
  border-bottom: $base-border;
  padding: $quarter-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}
