$fira-mono-fonts: (
  (suffix: Regular, weight: normal, style: normal),
);

@each $font in $fira-mono-fonts {
  @include font-face(
    $font-family: "Fira Mono",
    $file-path: "/fonts/woff/FiraMono-#{map-get($font, "suffix")}",
    $file-formats: woff
  ) {
    font-weight: map-get($font, "weight");
    font-style: map-get($font, "style");
  };
}
