@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Thin.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 100;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-ThinItalic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Light.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 300;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-LightItalic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: normal;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Regular.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: normal;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Italic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Medium.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 500;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-MediumItalic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: bold;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Bold.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: bold;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-BoldItalic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-ExtraBold.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 800;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-ExtraBoldItalic.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-Black.otf);
}

@font-face {
  font-family: "Alegreya Sans";
  font-weight: 900;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/AlegreyaSans-BlackItalic.otf);
}
