@font-face {
  font-family: "Alegreya Serif";
  font-weight: normal;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/Alegreya-Regular.otf);
}

@font-face {
  font-family: "Alegreya Serif";
  font-weight: normal;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/Alegreya-Italic.otf);
}

@font-face {
  font-family: "Alegreya Serif";
  font-weight: bold;
  font-style: normal;
  src: local("Alegreya"), url(/fonts/Alegreya-Bold.otf);
}

@font-face {
  font-family: "Alegreya Serif";
  font-weight: bold;
  font-style: italic;
  src: local("Alegreya"), url(/fonts/Alegreya-BoldItalic.otf);
}
