#site-header-wrapper, #site-footer {
  text-shadow: none;

  &, a {
    opacity: 1;
    color: darken($base-border-color, 10%);
  }

  a:hover {
    color: darken($base-border-color, 30%);
  }
}

#site-header-wrapper {
  box-shadow: none;
  border-bottom: $base-border;
  height: auto;
  text-align: left;
}

#site-header {
  display: flex;
  padding: $large-spacing $large-spacing $small-spacing;
  position: relative;

  h1, nav {
    flex: 1;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
  }
}

.posts {
  h1 {
    font-size: 1.5em;
    line-height: 1;
  }

  h2 {
    font-size: 1.3em;
    line-height: 1;
  }

  .post-listing {
    margin-bottom: $base-spacing;
  }

  .post-date-and-title {
    margin-bottom: 0;
  }

  .post-features {
    margin-left: $small-spacing;
  }
}

.post {
  .image {
    float: none;
  }
}
