$fonts: (
  (suffix: Light, weight: 100, style: normal),
  (suffix: LightIt, weight: 100, style: italic),
  (suffix: Regular, weight: normal, style: normal),
  (suffix: Italic, weight: normal, style: italic),
  (suffix: Bold, weight: bold, style: normal),
  (suffix: BoldIt, weight: bold, style: italic),
  (suffix: UltraBold, weight: 600, style: normal),
  (suffix: UltraBdIt, weight: 600, style: italic)
);

@each $font in $fonts {
  @include font-face(
    $font-family: "Merriweather",
    $file-path: "/fonts/Merriweather-#{map-get($font, "suffix")}",
    $weight: map-get($font, "weight"),
    $style: map-get($font, "style"),
    $file-formats: ttf
  );
}
