@font-face {
  font-family: "Poly";
  font-weight: normal;
  font-style: normal;
  src: local("Poly"), url(/fonts/Poly-Regular.otf);
}

@font-face {
  font-family: "Poly";
  font-weight: normal;
  font-style: italic;
  src: local("Poly"), url(/fonts/Poly-Italic.otf);
}
