$base-font-family: "Georgia", serif;
$heading-font-family: "Open Sans", sans-serif;

$heading-font-size: 1.4em;

$header-and-footer-text-color: $base-border-color;
$header-background-color: transparent;
$footer-background-color: transparent;
$post-date-color: #999;
$hilite-color: lighten($complementary, 40%);
