.site-container {
  transition: filter $base-duration;
}

body.code-modal-open {
  overflow: hidden;

  .site-container {
    filter: blur(4px);
  }
}

.modal-overlay {
  background: change-color($light-gray, $alpha: 0.5);
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: scroll;
  padding: $small-spacing;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: $modal-overlay-z-index;

  &.open {
    visibility: visible;
    opacity: 0.85;
    transition: opacity $slower-duration;
  }

  &.closed {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $slower-duration, opacity $slower-duration;
  }

  .modal-content {
    display: inline-block;
    text-shadow: 1px 1px 0px white;
    z-index: $pre-expanded-z-index;

    pre {
      margin: 0;
      background: transparent;
      max-height: none;
      overflow: visible;
      padding: 0;
    }
  }

  .modal-close {
    @include overlay-button;

    font-size: 1.7rem;
    line-height: 0.9;
    padding: $small-spacing;
    position: fixed;
    right: 1rem;
    top: 0;
    z-index: $modal-close-z-index;

    &:hover {
      color: black;
      border: none;
    }
  }
}
