.embed {
  text-align: center;
}

@media (min-width: $larger-screen) {
  .embed iframe,
  .centered-image img,
  .floating-image img,
  .image iframe {
    @include form-fitting-shadow(
      $x-offset: 0px,
      $y-offset: 5px,
      $blur: 2px,
      $color: rgba(0, 0, 0, 0.3)
    );
  }
}

.centered-image {
  text-align: center;
  margin: $small-spacing-with-extra $small-spacing;
}

.floating-image {
  margin: $half-spacing;
  text-align: center;

  @media (min-width: $largest-screen) {
    float: right;
    margin-top: 0;
    margin-left: $small-spacing;
    margin-bottom: $small-spacing;
  }

  img {
    width: 40%;

    @media (min-width: $larger-screen) {
      width: auto;
      max-width: 10em;
    }
  }
}
