- articles = blog.articles.select { |a| a.metadata[:page]['category'] == category }

- if articles.any?
  - articles.each do |article|
    .post
      %h3
        %a(href="#{article.url}")
          = article.date.strftime("%B %-d, %Y") + ": "
          = article.title.sub(/Costa Rica: |Asia: /, "")
      - if article.data.features
        .post-features
          %i featuring:
          = article.data.features.join(" ∙ ")
- else
  %p.text-center There aren't any posts just yet!
