---
blog: travelogue-2016
layout: travelogue_2016
---

.posts
  %p.current-location
    %b Current location (blue):
    Osaka, Japan

  %iframe(src="https://www.google.com/maps/d/embed?mid=zw0ws2Sl78wY.kq7SCNiKMfS0" width="100%" height="480")

  %p.note.announcement
    <b>Note:</b> Posts will not be updated anymore as I don't have any time, sorry
    about that! Check out the <a href="http://flickr.com/mcmire"
    target="_blank">photos</a> I've been taking along the way for visual
    updates.

  %h2 Asia

  = partial "posts", locals: { category: "asia" }

  %h2 Costa Rica

  = partial "posts", locals: { category: "costa-rica" }
