---
blog: travelogue-2016
layout: travelogue-2016
---

.posts
  %p.text-center
    %b Current location (blue):
    Penang, Malaysia

  %iframe(src="https://www.google.com/maps/d/embed?mid=zw0ws2Sl78wY.kq7SCNiKMfS0" width="640" height="480")

  %hr

  %p.text-center
    Hey you! Check out the <a href="http://flickr.com/mcmire"
    target="_blank">photos</a>, which complement the posts here.

  %hr

  %h2 Asia

  = partial "posts", locals: { category: "asia" }

  %h2 Costa Rica

  = partial "posts", locals: { category: "costa-rica" }
