---
blog: travelogue-2016
layout: travelogue-2016
---

.posts
  %p.current-location
    %b Current location:
    Singapore

  %p
    %i
      I'm a bit behind on the posts. Sorry about that!
      In the meantime, you can check out
      %a(href="http://flickr.com/mcmire" target="_blank") photos
      I've been taking, which are updated more live
      than the posts.

  %hr

  %h2 Asia

  = partial "posts", locals: { category: "asia" }

  %h2 Costa Rica

  = partial "posts", locals: { category: "costa-rica" }
