---
blog: travelogue-2016
layout: travelogue-2016
---

.posts
  .meta
    %p
      %b Current location:
      Kuala Lumpur, Malaysia

    %p
      Check out the <a href="http://flickr.com/mcmire"
      target="_blank">photos</a>, which complement the posts here.

  %hr

  %h2 Asia

  = partial "posts", locals: { category: "asia" }

  %h2 Costa Rica

  = partial "posts", locals: { category: "costa-rica" }
