.token.important {
  @include code-font($weight: normal);
}

.token.bold {
  @include code-font($weight: bold);
}

.token.italic {
  @include code-font($weight: italic);
}

.token.keyword,
.token.tag .token.tag,
.token.selector,
.token.response {
  color: #3871e2;  // blue
}

.token.string,
.token.char,
.token.attr-value {
  color: #549c0a;  // green
}

.token.function,
.token.attr-name {
  color: #a465da;  // purple
}

.token.punctuation {
  color: #b7bfc1;  // light gray
}

.token.command_leader,
.token.response_leader {
  position: relative;
  top: 1px;
}

.token.response_leader {
  left: -1px;
}

.token.keyword {
  @include code-font($style: italic);
}

.language-diff {
  padding-left: 0;
  padding-right: 0;

  .token.marker {
    padding-right: 1em;
  }

  .token.unchanged,
  .token.inserted,
  .token.deleted {
    //padding-left: $small-spacing;
    padding-right: $small-spacing;
    display: inline-block;
    width: 100%;
  }

  .token.inserted {
    background-color: #dffbd5;  // light green
  }

  .token.deleted {
    background-color: #f5e2e2;  // light red
  }
}
