code[class*="language-"],
pre[class*="language-"] {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-align: inherit;
  white-space: inherit;
  word-spacing: inherit;
  word-break: inherit;
  word-wrap: inherit;
  line-height: inherit;
  tab-size: inherit;
  hyphens: inherit;
}

pre[class*="language-"] {
  position: inherit;
  margin: inherit;
  overflow: inherit;
  padding: inherit;
}

pre[class*="language-"] > code {
  position: inherit;
  border-left: inherit;
  box-shadow: inherit;
  background-color: inherit;
  background-image: inherit;
  background-size: inherit;
  background-origin: inherit;
  background-attachment: inherit;
}

code[class*="language"] {
  max-height: inherit;
  height: inherit;
  padding: 0;
  display: inherit;
  overflow: inherit;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background-color: inherit;
  box-sizing: inherit;
  margin-bottom: inherit;
}

:not(pre) > code[class*="language-"] {
  position: inherit;
  padding: inherit;
  border-radius: inherit;
  color: inherit;
  border: inherit;
  display: inherit;
  white-space: inherit;
}

pre[class*="language-"]:before,
pre[class*="language-"]:after {
  display: none;
}

:not(pre) > code[class*="language-"]:after,
pre[class*="language-"]:after {
  display: none;
}

.token.keyword,
.token.tag .token.tag,
.token.selector,
.token.response {
  color: #3871e2;  // blue
}

.token.string,
.token.char,
.token.attr-value {
  color: #549c0a;  // green
}

.token.function,
.token.attr-name {
  color: #a465da;  // purple
}

.token.punctuation {
  color: #b7bfc1;  // light gray
}

.token.command_leader,
.token.response_leader {
  position: relative;
  top: 1px;
}

.token.response_leader {
  left: -1px;
}

.token.keyword {
  font-style: italic;
}

.token.operator,
.token.entity,
.token.url,
.token.variable {
  background: transparent;
}

.language-diff {
  padding-left: 0;
  padding-right: 0;

  .token.marker {
    padding-right: 1em;
  }

  .token.unchanged,
  .token.inserted,
  .token.deleted {
    //padding-left: $small-spacing;
    padding-right: $small-spacing;
    display: inline-block;
    width: 100%;
  }

  .token.inserted {
    background-color: #dffbd5;  // light green
  }

  .token.deleted {
    background-color: #f5e2e2;  // light red
  }
}

.language-term {
  color: #7D8B99;

  .token.prompt {
    color: $base-font-color;
  }
}
