@import "./shared-settings";

// Grid settings
$container-width: 40em;

// Font Sizes
$base-font-size: 16px;
$larger-font-size: 17px;

// Line height
$base-line-height: 1.5rem;
$heading-line-height: 1.25;
$footer-line-height: 1.3rem;

// Vertical rhythm
$base-spacing: $base-line-height * 1.5;
$half-spacing: $base-spacing / 2;
$small-spacing: $half-spacing;   // for Bitters
$small-spacing-with-extra: $small-spacing * 1.3;
$extra-spacing: $small-spacing * 0.3;
$quarter-spacing: $base-spacing / 4;

// Other Sizes
$base-z-index: 0;
$pre-overlay-z-index: $base-z-index + 10;
$pre-view-in-full-z-index: $base-z-index + 20;
$pre-overflow-indicator-z-index: $base-z-index + 30;
$modal-overlay-z-index: $base-z-index + 100;
$pre-expanded-z-index: $base-z-index + 1000;
$modal-close-z-index: $base-z-index + 1100;

// Colors
$blue: #376dc3;
$lighter-blue: tint($blue, 20%);
$light-blue: #eef3fb;
$lightest-gray: #f5f5f5;
$light-gray: #eaeaea;
$medium-light-gray: #ddd;
$medium-gray: #999;
$dark-gray: #333;
$light-yellow: #fdfaf2;
$light-red: #feecef;
$reddish-gray: #a29696;
$red: #e24949;
$light-reddish-gray: desaturate(lighten($red, 20%), 20%);

// Applied Colors
$base-font-color: $dark-gray;
$action-color: $blue;
$inactive-action-color: $reddish-gray;
$shadow-color: rgba(0, 0, 0, 0.15);
$darker-shadow-color: rgba(0, 0, 0, 0.35);
$overlay-button-color: #4f5b66;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 5px;

// Box shadow
$base-box-shadow: 0 2px 4px $shadow-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-timing: ease;
$base-duration: 150ms;
$slower-duration: $base-duration * 2;
