figure {
  margin: 0;
}

figcaption {
  font-size: 0.85em;
  font-style: italic;
}

img {
  vertical-align: middle;
}

img,
picture,
svg {
  margin: 0;
  max-width: 100%;
  max-height: 100%;

  .with-smaller-max-height & {
    max-height: 150px;
  }

  .with-very-smaller-max-height & {
    max-height: 100px;
  }

  .with-max-height & {
    max-height: 300px;
  }

  .with-larger-max-height & {
    max-height: 400px;
  }
}

iframe {
  border: $base-border;
  margin: $extra-spacing 0 $small-spacing-with-extra 0;
  width: 100%;
  height: 300px;
}
