.post {
  header {
    font-family: $heading-font-family;
    font-size: $heading-font-size;
    margin-bottom: 1.5em;
    line-height: 1.5em;
  }

  .post-title {
    font-size: inherit;
    margin-bottom: 0em;
    line-height: inherit;
  }

  .post-date {
    color: $post-date-color;
    font-size: 0.85em;
    margin-bottom: 0;
    font-size: 0.65em;
    text-transform: uppercase;
  }

  .embed, .image {
    text-align: center;
  }

  .embed iframe, .image img {
    @extend %shadow;
    border: 1px solid rgba(0,0,0,0.2);
  }

  .image {
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;
  }

  figcaption {
    font-size: 0.8em;
    font-style: italic;
  }

  blockquote {
    border-left: 3px solid silver;
    padding-left: 20px;
    font-size: 0.9em;
    line-height: 1.7em;
  }

  // for ols and uls
  .spaced li {
    margin-bottom: $base-spacing / 2;
  }

  hr {
    height: 4px;
    background-image: url(/images/dirty-shade.png);
    margin-bottom: $base-spacing;
  }

  table {
    font-size: 0.9em;
  }

  .hilite {
    background-color: $hilite-color;
    padding: 2px 5px;
  }

  .eoc {
    padding-left: 4px;
  }

  .footnotes {
    font-size: 0.8em;
    line-height: $base-line-height;

    p {
      margin-bottom: 1em
    }

    a[rel=reference] {
      padding-left: 5px;
      position: relative;
      top: 2px;
    }
  }

  dl.spaced {
    dd {
      margin-bottom: $base-spacing;
    }
  }

  iframe {
    border: 1px solid $light-gray;
    margin: $tiny-spacing 0 $base-spacing;
  }
}

