.site-container {
  @include outer-container;

  border: $base-border;
  border-top: none;
  border-radius: $base-border-radius;
  box-shadow: 0 4px 4px $shadow-color;
  margin-bottom: $base-spacing;
}

.site-header {
  align-items: center;
  background-color: $blue;
  display: flex;
  font-family: $heading-font-family;
  font-size: 0.9em;
  font-weight: bold;
  padding: $quarter-spacing $base-spacing;
  text-transform: uppercase;

  &, a {
    color: white;
    border: none;
  }

  a:hover, a:visited:hover {
    color: inherit;
    border-bottom: 1px solid tint($blue, 40%);
  }

  h1, nav {
    flex: 1 1 auto;
  }

  h1 {
    font-family: inherit;
    font-size: inherit;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }

  nav {
    text-align: right;

    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      margin-left: 0;
    }

    li:after {
      content: "  ·  ";
    }

    li:last-child:after {
      content: "";
    }
  }
}

.site-content {
  background-color: white;
  padding: $base-spacing;
}

.site-footer {
  background-color: $light-gray;
  border-top: $base-border;
  font-size: 0.85em;
  padding: $small-spacing;
  text-align: center;
}
