.site-container {
  border-top: none;
  box-shadow: 0 4px 4px $shadow-color;
  margin: 0 auto $base-spacing auto;
  max-width: $container-width;
}

.site-header {
  align-items: center;
  background-color: $blue;
  display: flex;
  font-family: $heading-font-family;
  padding: $quarter-spacing $half-spacing;

  @media (min-width: $larger-screen) {
    font-weight: bold;
    padding: $quarter-spacing $base-spacing;
    text-transform: uppercase;
  }

  &, a {
    color: white;
    border: none;
  }

  a:hover, a:visited:hover {
    color: inherit;
    border-bottom: 1px solid tint($blue, 40%);
  }

  h1, nav {
    flex: 1 1 auto;
  }

  h1 {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: $base-line-height;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    text-transform: uppercase;
  }

  nav {
    text-align: right;

    ul {
      display: inline;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      margin-left: 0;
    }

    li:after {
      content: "·";
      padding-left: 0.2em;
      padding-right: 0.2em;
    }

    li:last-child:after {
      content: "";
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.site-content {
  background-color: white;
  padding: $half-spacing;

  @media (min-width: $larger-screen) {
    padding: $base-spacing;
  }
}

.site-footer {
  background-color: $light-gray;
  border-top: $base-border;
  color: $medium-gray;
  font-size: 0.8em;
  line-height: $footer-line-height;
  padding: $small-spacing;
  text-align: center;

  @media (min-width: $larger-screen) {
    font-size: 0.85em;
  }
}
