$header-and-footer-text-color: $base-font-color !default;
$header-background-color: $base-background-color !default;
$footer-background-color: $base-background-color !default;
$post-date-color: gray !default;
$hilite-color: lightyellow !default;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  position: relative;
}

h2, h3, h4 {
  font-weight: 600;
}

h2 {
  font-size: $heading-font-size;
  margin-top: $medium-spacing;
  margin-bottom: $small-spacing;
}

h3 {
  font-size: $heading-font-size * 0.85;
}

h4 {
  font-size: $heading-font-size * 0.7;
}

a:hover {
  text-decoration: underline;
}

#site-header-wrapper {
  position: relative;
  height: 5em;
}

#site-header-background, #site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#site-header-wrapper, #site-footer {
  font-family: $heading-font-family;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);

  &, a {
    color: $header-and-footer-text-color;
  }

  a {
    opacity: 0.5;
    transition: opacity $slow;
  }

  a:hover {
    opacity: 1;
    text-decoration: none;
  }
}

#site-header-wrapper {
  overflow: hidden;
  text-align: right;
  box-shadow: 2px -3px 4px rgba(0, 0, 0, 0.1) inset;
  position: relative;
  background: $header-background-color;

  h1, nav {
    font-family: $heading-font-family;
    line-height: $site-title-font-size;
  }

  h1 {
    float: left;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: $site-title-font-size;
  }

  nav {
    float: right;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      display: inline;
      text-transform: lowercase;
      margin-left: 0;
    }

    li:after {
      content: " · ";
    }

    li:last-child:after {
      content: "";
    }
  }
}

#site-header {
  top: auto;
  bottom: 0;
  height: auto;
  padding: $medium-spacing $large-spacing;
}

#site-container {
  background: white;
  padding-top: $base-spacing;
  padding-bottom: $base-spacing;
}

#content-container {
  margin: 0 auto;
  max-width: $site-container-width;
}

#site-footer {
  height: 6rem;
}

#site-footer {
  font-family: $heading-font-family;
  padding: 1.3em 0 $medium-spacing 0;
  text-align: center;
  font-size: 0.8em;
  line-height: $base-line-height;
  background: $footer-background-color;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.1) inset;
}

#site-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -6rem;
  padding-bottom: 6rem;
  position: relative;
}
