$source-code-pro-fonts: (
  (suffix: Regular, weight: normal, style: normal),
);

@each $font in $source-code-pro-fonts {
  @include font-face(
    $font-family: "Source Code Pro",
    $file-path: "/fonts/WOFF2/OTF/SourceCodePro-#{map-get($font, "suffix")}.otf",
    $weight: map-get($font, "weight"),
    $style: map-get($font, "style"),
    $file-formats: woff2
  );

  @include font-face(
    $font-family: "Source Code Pro",
    $file-path: "/fonts/WOFF/OTF/SourceCodePro-#{map-get($font, "suffix")}.otf",
    $weight: map-get($font, "weight"),
    $style: map-get($font, "style"),
    $file-formats: woff
  );
}
