$source-sans-pro-fonts: (
  (suffix: Light, weight: normal, style: normal),
  (suffix: LightIt, weight: normal, style: italic),
  (suffix: Bold, weight: bold, style: normal),
  (suffix: BoldIt, weight: bold, style: italic),
);

@each $font in $source-sans-pro-fonts {
  @include font-face(
    $font-family: "Source Sans Pro",
    $file-path: "/fonts/WOFF2/OTF/SourceSansPro-#{map-get($font, "suffix")}.otf",
    $weight: map-get($font, "weight"),
    $style: map-get($font, "style"),
    $file-formats: woff2
  );

  @include font-face(
    $font-family: "Source Sans Pro",
    $file-path: "/fonts/WOFF/OTF/SourceSansPro-#{map-get($font, "suffix")}.otf",
    $weight: map-get($font, "weight"),
    $style: map-get($font, "style"),
    $file-formats: woff
  );
}
