svg {
  width: 100%;

  rect,
  path,
  ellipse {
    fill: inherit;
    stroke: inherit;
  }

  ellipse {
    fill: none;
  }

  text {
    font-family: $base-font-family;
    font-size: inherit;
    text-anchor: inherit;
    alignment-baseline: inherit;
    dominant-baseline: inherit;
  }
}
