---
blog: blog
layout: blog
---

.posts
  - if blog.articles.any?
    - blog.articles.sort_by(&:title).each_with_index do |article, i|
      .post{class: "#{'draft' unless article.published?}"}
        .post-title-and-summary
          %h2.post-title
            %a(href="#{article.url}")= article.title
          .post-summary
            = render_markdown(article.data.teaser)
  - else
    %p.text-center There aren't any posts just yet!
