%p.avatar
  = image_tag "mcmire.gif"

%p
  Hi, I'm <b>Elliot Winkler</b>, a full-stack web developer with over 13 years
  of experience at product companies and consultancies emphasizing in Ruby on
  Rails. I work with a bunch of talented folks at
  <a href="https://tuftandneedle.com" target="_blank">Tuft &amp; Needle</a>,
  where we sell great products for helping you sleep at night. I love to learn
  new things and I usually have a few different side projects going on at any
  given time, some of which you can find below.

.links
  %ul
    %li
      %a(href="/blog") Writings
    %li
      %a(href="https://observablehq.com/@mcmire" target="_blank")
        Interactive noodlings
    %li
      %a(href="http://github.com/mcmire" target="_blank") Open-source code
  %ul
    %li
      %a(href="/resume.pdf") Resume
    %li
      %a(href="http://twitter.com/mcmire" target="_blank") Twitter
    %li
      %a(href="mailto:elliot.winkler@gmail.com") Contact
