%p.avatar
  = image_tag "mcmire.gif"

%p
  Hi, I'm <b>Elliot Winkler</b>, a full-stack, Ruby/Rails web developer with
  over 10 years of experience. I've worked at product companies and
  consultancies, most notably <a href="http://thoughtbot.com">thoughtbot</a>.

.links
  %ul
    %li
      %a(href="/blog") Blog
    %li
      %a(href="http://twitter.com/mcmire" target="_blank") Twitter
    %li
      %a(href="http://flickr.com/mcmire" target="_blank") Flickr
  %ul
    %li
      %a(href="http://github.com/mcmire" target="_blank") GitHub
    %li
      %a(href="http://linkedin.com/mcmire" target="_blank") LinkedIn
    %li
      %a(href="/resume.pdf") Resume
    %li
      %a(href="mailto:elliot.winkler@gmail.com") Contact
