%p.avatar
  = image_tag "mcmire.gif"

%p
  Hi, I'm <b>Elliot Winkler</b>, an independent web developer based out of
  Denver, Colorado.

.links
  %ul
    %li
      %a(href="http://github.com/mcmire" target="_blank") GitHub
    %li
      %a(href="http://linkedin.com/mcmire" target="_blank") LinkedIn
    %li
      %a(href="mailto:elliot.winkler@gmail.com") Contact
  %ul
    %li
      %a(href="/blog") Blog
    %li
      %a(href="http://twitter.com/mcmire" target="_blank") Twitter
    %li
      %a(href="http://flickr.com/mcmire" target="_blank") Flickr
