%p.avatar
  = image_tag "mcmire.gif", width: 79, height: 79

%p
  Hi, I'm <b>Elliot Winkler</b>, an independent web developer based out of
  Denver, Colorado.

%ul.links
  %li
    %a(href="/blog") Blog
  %li
    %a(href="http://github.com/mcmire") GitHub
  %li
    %a(href="http://twitter.com/mcmire") Twitter
  %li
    %a(href="http://linkedin.com/mcmire") LinkedIn
  %li
    %a(href="http://flickr.com/mcmire") Flickr
  %li
    %a(href="mailto:elliot.winkler@gmail.com") Contact
