html, body {
  height: 100%;
  width: 100%;
}

body.code-modal-open {
  overflow: hidden;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
  z-index: $z-modal-overlay;

  &.open {
    visibility: visible;
    opacity: 1;
    transition: opacity $slow;
  }

  &.closed {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s $slow, opacity $slow;
  }

  .modal {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    height: 100%;
    left: 50%;
    margin: 0 auto;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: $site-container-width;
    z-index: $z-pre-expanded;

    .modal-content {
      background: #fdf6e3;
    }

    pre {
      margin: 0;
      background: transparent;
      max-height: none;
    }

    .modal-close {
      @include overlay-button;

      background-color: $code-background-color;
      font-size: 1.7rem;
      line-height: 1;
      opacity: 0;
      padding: 0.4rem 0.8rem;
      position: fixed;
      right: 1rem;
      top: 0.7rem;
      transition: opacity $slow;
      z-index: $z-modal-close;

      &:hover {
        color: black;
      }
    }

    &:hover {
      .modal-close {
        opacity: 1;
      }
    }
  }
}
