@mixin overlay-button {
  @extend %border-radius;

  color: #4f5b66;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  position: absolute;
  right: 1em;
  text-decoration: none;
  top: 1em;
  transition: opacity $pre-transition-timing $pre-transition-duration;
  z-index: $z-pre-view-in-full;
}
