@mixin overlay-button {
  @extend %border-radius;

  color: $overlay-button-color;
  font-size: 0.9em;
  padding: 0.5em 0.8em;
  position: absolute;
  right: 1em;
  text-decoration: none;
  top: 1em;
  transition: opacity $fast;
  z-index: $z-pre-view-in-full;
}
