.modal {
  background: white;

  pre {
    background: transparent;
  }
}

#post-toc {
  font-size: 0.75em;

  p {
    color: $post-toc-color;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none
  }

  ul ul {
    margin-left: 20px
  }

  p.top {
    margin-top: $base-spacing;
    margin-bottom: 0
  }
}

#post-footer {
  background-color: $post-footer-background-color;
  color: $post-footer-text-color;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.85em;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);

  a {
    color: $post-footer-link-color;
  }
}
