.post {
  header {
    font-family: $heading-font-family;
    font-size: $heading-font-size;
    margin-bottom: $medium-spacing;
  }

  .post-title {
    font-size: inherit;
    margin-bottom: 0em;
  }

  .post-date {
    color: $post-date-color;
    font-size: 0.85em;
    margin-bottom: 0;
    font-size: 0.65em;
    text-transform: uppercase;
  }

  .image {
    text-align: center;
    float: right;
    margin-left: 2em;
    margin-bottom: 2em;

    img {
      @extend %shadow;
      border: 1px solid rgba(0,0,0,0.2);
    }
  }

  blockquote {
    border-left: 3px solid silver;
    padding-left: 20px;
    font-size: 0.9em;
    line-height: 1.7em;
  }

  // for ols and uls
  .spaced li {
    margin-bottom: $base-spacing / 2;
  }

  hr {
    height: 4px;
    background-image: url(/images/dirty-shade.png);
    margin-bottom: $base-spacing;
  }

  table {
    font-size: 0.9em;
  }

  .hilite {
    background-color: $hilite-color;
    padding: 2px 5px;
  }

  .eoc {
    padding-left: 4px;
  }

  .footnotes {
    font-size: 0.8em;
    line-height: $base-line-height;

    p {
      margin-bottom: 1em
    }

    a[rel=reference] {
      padding-left: 5px;
      position: relative;
      top: 2px;
    }
  }

  dl.spaced {
    dd {
      margin-bottom: $base-spacing;
    }
  }

  iframe {
    border: 1px solid $light-gray;
    margin: $tiny-spacing 0 $base-spacing;
  }
}

.modal {
  background: white;

  pre {
    background: transparent;
  }
}

#post-toc {
  font-size: 0.75em;

  p {
    color: $post-toc-color;
  }

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none
  }

  ul ul {
    margin-left: 20px
  }

  p.top {
    margin-top: $base-spacing;
    margin-bottom: 0
  }
}

#post-footer {
  background-color: $post-footer-background-color;
  color: $post-footer-text-color;
  border-radius: 3px;
  padding: 6px;
  font-size: 0.85em;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0,0,0,0.5);

  a {
    color: $post-footer-link-color;
  }
}
