.swatches {
  overflow: hidden;
}

@each $key, $color in $base16-colors {
  .base#{$key}-swatch {
    background-color: $color;
    float: left;
    height: 50px;
    margin-bottom: $base-spacing;
    margin-right: $base-spacing;
    width: 50px;
  }
}
